body{
    font-family: 'Raleway', sans-serif;
}

div .card{
    width: 300px;
    height: 50%;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    /*to center the entire div*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding: 1em 1.5em 1em 1.5em;

    
    /* to center the text*/
    text-align: center;
}

h1 .profile-name{
    margin-top: 100px;
    margin-bottom: 10px;
}

h3 .profile-position{
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-pic{
    display: block;
    max-width: 100%;
    height: auto;
    /*to center the image*/
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    /*testing*/

}

.profile-icon{
    height: 20px;
    width: auto;
    
}

/* div .social-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

a.button{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
       /* border: 2px solid black; */
    color: green;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 5px 5px;
    cursor: pointer;
    text-decoration:none; /*removes underline of the anchor tag */

}